<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Allow benchmark output through at INFO -->
    <logger name="io.dazzleduck.sql.otel.collector.OtelCollectorBenchmark" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_ALL"/>
    </logger>

    <appender name="STDOUT_ALL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
